body {
    margin: 0;
}

.section_one, .section_two {
    display: flex;
    justify-content: space-between;
    padding: 0px 300px;
    background-color: #182f42;
    color: white;
}

.header_links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
    align-items: center;
}

.section_two {
    padding-bottom: 170px;
    padding-top: 170px;
}

.info_text {
    max-width: 500px;
    max-height: 300px;
}

.info_text h1 {
    font-size: 55px;
    margin: 0;
}

.info_text p {
    font-size: 22px;
    margin: 0;
}

.info_text button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(56, 56, 201);
    color:white;
    padding: 10px 35px;
    margin-top: 20px; 
    font-size: 20px;
}

.section_two img {
    border-radius: 10px;
    width: 800px;
    height: 400px;
}

.section_three {
    padding-bottom: 80px;
}

.section_three h1{
    text-align: center;
    font-size: 40px;
    padding: 30px 0px;;
}

.section_three_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.box {
    width: 220px;
    height: 220px;
    border: 6px solid rgb(44, 44, 192);
    border-radius: 20px;
}

.subtext {
    max-width: 220px;
    text-align: center;
}

.section_four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    /* padding: 250px 150px; */
}

.section_four_container {
    width: 700px;
    padding: 150px 0;
}

.section_four_random_text {
    font-size: 34px;
    margin: 0;
}

.section_four_thor_msg {
    margin: 0;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.section_five_container {
    padding: 150px 0px;
}

.section_five_content_div {
    background-color: rgb(77, 77, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    max-width: 1000px;
    padding: 40px 60px;
    margin: 0 auto;
    border-radius:  10px;
    color:white;
}

.section_five_content_div button {
    border: 2px solid white;
    border-radius: 4px;
    background-color: rgb(77, 77, 212);
    padding: 10px 25px;
    color: white;
}

.footer {
    background-color: #182f42;
    text-align: center;
    width: 100%;
    padding: 45px 0;
    color: white;
    font-size: 25px;
}


